body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.auth-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 23;
}

.overflow {
  min-width: 1300px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  position: relative;
}
