.protected {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  padding-bottom: 20px;
  margin-left: 180px;
  position: relative;
}

.content-container {
  display: flex;
  flex: 1;
  margin-top: 90px;
}
