@import "../../styles//globalStyles.scss";

.sidebar {
  display: flex;
  width: 180px;
  height: 100%;
  background-color: rgb(14, 14, 44);
  position: fixed;
  justify-content: center;
  z-index: 5;

  .sidebarWrapper {
    display: flex;
    flex-direction: column;

    .logo-container-dashboard {
      display: flex;
      align-items: center;
      //justify-content: center;

      .bamlogo {
        height: 100px;
        width: 100px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-family: $primary-font;
        font-size: 15px;
        font-weight: 500;
        color: white;
        margin: 15px 0 5px 8px;
      }

      .sidebarIcon-container {
        margin-bottom: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        border-left: 2px solid rgb(14, 14, 44);

        li {
          display: flex;
          align-items: center;
          padding: 0 5px;
          cursor: pointer;

          &:hover {
            background-color: #111;
          }

          .icon {
            font-size: 25px;
            fill: #7451f8;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          h3 {
            font-family: $primary-font;
            font-size: 15px;
            font-weight: 500;
            color: rgba(217, 216, 255, 255);
            margin-left: 10px;
          }
        }
      }
      .active-side {
        border-left: 2px solid rgb(226, 85, 79);
      }
    }
  }
}
