@import "../../../styles/globalStyles.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.nav-spacer-temp {
  height: 80px;
  width: 100%;
}

.hero-info-client {
  display: flex;
  justify-content: center;
  height: 730px;
  position: relative;

  .color-block-client {
    z-index: -3;
    background-color: $peach;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 550px;
    width: 35%;
  }

  .hero-container-info-client {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 130px;
    max-width: 1250px;
  }

  .info-container-client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;

    .small-headline-client {
      font-family: $primary-font;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      color: rgba(17, 17, 17, 0.57);
      margin-bottom: 10px;
      letter-spacing: 2px;
    }

    .big-headline-client {
      font-size: 56px;
      font-weight: 700;
      font-family: $title-font;
      letter-spacing: -2px;
      line-height: 64px;
      margin-bottom: 20px;
    }

    .subheadline-client {
      font-family: $primary-font;
      font-size: 17px;
      font-weight: 500;
      line-height: 1.7;
      color: rgb(97, 97, 97);
      margin-bottom: 30px;
    }
  }

  .img-container-info-client {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -3;

    .clientBanner {
      height: 460px;
      width: 520px;
    }
  }

  .signup-button-client-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 140px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .signup-button-client {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-family: $primary-font;
      font-weight: 700;
    }
  }
}

/* Section 2 */

.section-two-client {
  display: flex;
  justify-content: center;
}

.section-two-client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;

  .section-two-headers-client {
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;

    h1 {
      font-size: 44px;
      font-family: $title-font;
      font-weight: 600;
      color: black;
      letter-spacing: -2px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      font-family: $primary-font;
      font-weight: 400;
      color: #555555;
      line-height: 29px;
      max-width: 750px;
      text-align: center;
    }
  }

  .info-blocks-client {
    min-width: 1300px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 50px;
    margin-bottom: 100px;

    .block-info-container-client {
      display: flex;
      flex-direction: column;
      align-items: center;

      .client-icon-container {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgb(227, 227, 227);
        margin-bottom: 15px;

        .client-icon {
          font-size: 50px;
        }
      }

      .block-info-header-client {
        font-family: $primary-font;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
        letter-spacing: -1px;
      }

      .block-info-client {
        font-size: 20px;
        font-family: $primary-font;
        font-size: 18px;
        text-align: center;
        color: $grey;
        font-weight: 500;
      }
    }
  }
}

/* Section 3 */

.section-three-client {
  display: flex;
  padding: 80px 0 120px;
  justify-content: center;
  background-color: $light;
}

.section-three-client-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .banner-msg-container-client {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner-header-client {
    font-size: 44px;
    font-family: $title-font;
    font-weight: 600;
    color: black;
    letter-spacing: -2px;
    margin-bottom: 10px;
  }

  .banner-message-client {
    font-size: 18px;
    font-family: $primary-font;
    font-weight: 400;
    color: #555555;
    line-height: 29px;
    max-width: 750px;
    text-align: center;
  }
  .section-three-client-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 50px;
    justify-content: center;
    height: 500px;

    .accordion-container {
      display: flex;
      align-items: center;

      .accordion {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 20px auto;
        transition: all 2s ease-in-out;
      }
    }

    .section-three-banner-container {
      display: flex;
      width: 500px;
      position: relative;
      overflow: hidden;
      border-radius: 35px;
    }

    .section-three-banner {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 0 50px;
    }

    .section-three-banner.active {
      right: 0;
      transition: 0.3s ease-out;
      z-index: 10;
    }

    .section-three-banner.inactive {
      transition-delay: 0.35s;
      right: -100%;
    }

    .section-three-img-container {
      display: flex;
      margin: 0 auto;
    }

    .section-three-banner img {
      margin: 0 auto;
      height: 100%;
      width: 100%;
    }
  }
}

/* Last section */
.last-section-client {
  height: 300px;
  background-color: rgb(32, 28, 28);
  padding: 80px 120px;
}

.last-section-banner-client {
  display: flex;
  justify-content: space-between;
}

.last-section-banner-client h1 {
  color: white;
  font-family: $title-font;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -2px;
  width: 700px;
  font-size: 48px;
}

.contact-button-client {
  background-color: white;
  display: flex;
  width: 170px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 700;
  color: black;
}
